<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weallcoem to django</title>
</head>
<style>
    #fom {
        border: 2px solid black;
        text-align: center;
        padding: 10px;
      }
      h1{
        text-align: center;
        color: red;
      }
</style>
<body>
    

<h1> Registration This From </h1>
<form action="" method="POST" id='fom' novalidate>
    {% csrf_token %}
    {% for frm in fme %}
    {{ frm.label_tag }}
    {{frm}}<br><br>
    {% endfor %}

    <input type="submit" value="submit">
</form>




</body>
</html>
